<header>
      <div class="container-fluid">
          <div class="logo-div section-class">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="image">
                    <a href="" [routerLink]="['/']"><img class="" src="assets/images/logo.png" alt="logo"></a>
                </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="social-icon">
                    <ul>
                      <li><a href=""><em class="fa fa-facebook" aria-hidden="true"></em></a></li>
                      <li><a href=""><em class="fa fa-twitter" aria-hidden="true"></em></a></li>
                      <li><a href=""><em class="fa fa-linkedin" aria-hidden="true"></em></a></li>
                      <li><a href=""><em class="fa fa-instagram" aria-hidden="true"></em></a></li>
                    </ul>
                  </div>
                </div>
                  
              </div>
              <div class="row mt-3">
                <div class="col-md-5 mb-3">
                  <div class="row row-box">
                <div class="col-md-6 col-6">
                  <div class="search-bar">
                    <label for="search-bar"><em class="fa fa-search" aria-hidden="true"></em></label>
                    <input type="text" placeholder="SEARCH" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 col-6">
                  <div class="select--box text-right">
                    <select class="js-example-basic-single" name="state">
                      <option value="RT">Restaurant</option>
                        ... 
                      <option value="HT">Hotel</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
                
                <div class="col-md-7 button-col">
                  <div class="buttons">
                    <button class="btn btn-black">whats trending </button>
                    <button class="btn btn-orange" [routerLink]="['cart']"><em class="fa fa-shopping-cart" aria-hidden="true"></em> cart </button>
                    <button class="btn btn-orange" data-toggle="modal" data-target="#myModal"><em class="fa fa-user" aria-hidden="true"></em> login </button>
                    <button class="btn btn-orange" data-toggle="modal" data-target="#myModal1"><em class="fa fa-user-plus" aria-hidden="true"></em> signup </button>
                  </div>
                </div>
              </div>

          </div>
      </div>
  </header>
 <app-login></app-login>
 <app-signup></app-signup>