section.footer-section {
    background: #28263E;
    padding: 30px 0;
}
h3.title {
    color: #fff;
    font-weight: normal;
}
ul{
    padding-left: 0;
    list-style: none;
}
 a{
    color: #fff;
    font-weight: 100;
}
 a:hover{
    color: #fff;
}
.footer-section li {
    margin-bottom: 5px;
}
p{
    margin-bottom: 0;
    color: #fff;
    font-weight: 100;
}
.footer-section img {
    width: 200px;
    margin-bottom: 10px;
}
.dot-wrapper{
    display: block;
    border-bottom: 1px solid #6d6b6b;
    width: 400px;
    margin: auto;
    padding-bottom: 15px;
    max-width: 100%;
}
.dot-content{
    display: flex;
    justify-content: center;
}
span.dot {
    display: block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    
    border-radius: 100px;
}
.fill{
    background: #fff;
}
.fill-1 {
    background: #D2D0D0;
}
.fill-2{
    background: #6D6B6B;;
}