
<section class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="footer-wrapper">
					<h3 class="title">Useful Links</h3>
					<div class="content">
						<ul>
							<li><a href="">Terms & Conditions</a></li>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">FAQ</a></li>
							<li><a href="">Register As Resturant</a></li>
							<li><a href="">Become A Delivery Boy</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="footer-wrapper">
					<h3 class="title">Contact Us</h3>
					<div class="content">
						<ul>
							<li><a href="tel:+1000000000">+1000000000</a></li>
							<li><a href="mailto:admin2@royofood.com">admin2@royofood.com</a></li>
							<li><p>United States</p></li>
							<li><p>Help & Support</p></li>
						</ul>
						
						
						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="footer-wrapper">
					<h3 class="title">Download Our App</h3>
					<div class="content">
						<img src="assets/images/google-play.png">
						<img src="assets/images/app-store.png" style="height: 50px;object-fit: contain;">

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="dot-wrapper">
					<div class="dot-content">
					<span class="dot fill">						
					</span>
					<span class="dot fill-1"></span>
					<span class="dot fill-2"></span>
				</div>
				</div>
			</div>
		</div>

	</div>

	
</section>