<section class="section-offer">
    <div class="container">
      <h3 class="title">Special Offers For You</h3>
      <div class="row border-bottom">
        <div class="col-md-12">
          <app-offer-card type="special-offer"></app-offer-card>
        </div>
        <div class="col-md-12">
          <app-offer-card type="special-offer"></app-offer-card>
        </div>
        <div class="col-md-12">
          <app-offer-card type="special-offer"></app-offer-card>
        </div>
      </div>
    </div>
  </section>
