<section class="section-offer">
    <div class="container">
      <h3 class="title">Special Offers For You</h3>
      <div class="row border-bottom">
        <div class="col-md-12">
          <div class="wrapper">
            <img src="assets/images/offer-1.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>Cruller</h3>
                  <h6>FOOD Set Go</h6>
                  <p>French crullers made with pâte à choux, which are lighter than.</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <p class="price">$10.00 <span>$9.00</span></p>
                </div>
                <div class="col-md-4 text-right">
                  <button class="btn btn-orange">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="wrapper">
            <img src="assets/images/offer-2.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>Strawberry Frosted Doughnut</h3>
                  <p>With fresh strawberries baked in, and a sweet, tangy pink str...</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <p class="price">$10.00</p>
                </div>
                <div class="col-md-4 text-right">
                  <button class="btn btn-orange">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="wrapper">
            <img src="assets/images/offer-2.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>Strawberry Frosted Doughnut</h3>
                  <p>With fresh strawberries baked in, and a sweet, tangy pink str...</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <p class="price">$10.00</p>
                </div>
                <div class="col-md-4 text-right">
                  <button class="btn btn-orange">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>