.section-offer .wrapper {
    background: #fff;
    margin: 20px 0;
    width: 50%;
}
.section-offer .wrapper img {
    border-bottom: 5px solid #8C8989;
    width: 100%;
}
.section-offer .wrapper .content {
    padding: 20px;
}
.section-offer .wrapper .content h3 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    color: #6D6B6B;
}
.section-offer .wrapper .content h6 {
    font-size: 14px;
    color: #d92330;
    font-weight: 700;
}
.section-offer .wrapper .content p {
    font-size: 14px;
    color: #6D6B6B;
    font-weight: 300;
    margin-bottom: 5px;
}
 i.fa.fa-heart {
    color: #bdbdbd;
}
.section-offer .wrapper .content p.price {
    font-weight: 700;
}
.section-offer .wrapper .content button.btn {
    border-radius: 0;
    width: 60px;
    height: 100%;
    padding: 2px 10px;
}
