<div class="wrapper">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-content">
      <div class="content">
        <h3>Paradise</h3>
        <p>CH Devi Lal Centre of Learning, 28B, Sector 28, Chandigarh, 160102, India.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-image">
      <div class="image">
        <img src="assets/images/category.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8 pt-3 col-star">
      <div class="star-wrapper">
        <span class="span-star"><em aria-hidden="true" class="fa fa-star mr-2"></em>5</span>
        <span class="span-heart"><em aria-hidden="true" class="fa fa-heart-o mr-2"></em>Open</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 pt-3 col-btn">
      <button class="btn btn-black">Order Now</button>
    </div>
  </div>
</div>
