<section class="trending-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-md-2 images" >
                            <div class="">
                                <img src="assets/images/mark.png" alt="">
                            </div>
                            
                        </div>
                        <div class="col-md-8">
                            <div class="content">
                                <div class="text">What do you want to share Today ?</div>
                                <div class="buttons">
                                    <button class="btn btn-outline mx-3">CREATE POST</button>
                                    <button class="btn btn-outline mx-3">ASK A QUESTION</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 images">
                            <div class="">
                                <img src="assets/images/mark.png" class="img-first" alt="">
                                <img src="assets/images/mark.png" class="img-second" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>
<section class="user-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="wrapper">
                    <div class="image">
                        <img class="" src="assets/images/ellipse.png" alt="">
                    </div>
                    <div class="content">
                        <p><button class="btn btn-outline">Add Image</button> </p>
                        <p> @</p>
                        <hr>
                        <p class="last">Joined : June 2020</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="second-wrapper btn-black">
                    <h3>Invite your Friends</h3>
                    <div class="link"><em class="fa fa-link mr-3" aria-hidden="true"></em><a href="https://royofood.royoaps.com">https://royofood.royoaps.com</a></div>
                    <div class="link-2"><em class="fa fa-link mr-3" aria-hidden="true"></em><a href="">Share on Social Media</a></div>
                </div>
                <div class="third-wrapper btn-orange">
                    <h3>Trending Posts</h3>
                    <a href="">View Trending Post</a>
                </div>
                <div class="fourth-wrapper bg-white">
                    <div class="content">
                        <img class="" src="assets/images/ellipse-1.png" alt="">
                        <div class="text">
                            <h4>GLORY D’SOUZA</h4>
                            <span>15 Days Ago</span>
                        </div>
                        <div class="notify-img">
                            <img src="assets/images/notification-center.png" alt="">
                        </div>
                    </div>
                    <h3>Did you like KFC?</h3>
                    <span> Guys did you like kfc</span>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="order-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="wrapper">
                    <div class="content">
                        <img src="assets/images/ellipse-2.png">
                        <div class="text">
                            <h4>AMAYA HUDSON</h4>
                            <span> 1 Month Ago</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="overlay">
                        <img src="assets/images/pizza.png">
                    <div class="img-overtext">
                        <span><i class="fa fa-heart"></i></span>
                        <div class="ordr-btn">
                            <button class="btn btn-orange">Order Now</button>
                        </div>
                    </div>
                    </div>
                    
                </div>
                <div class="comment-wrapper">
                    <div class="content">
                        <img src="assets/images/ellipse-5.png">
                        <div class="text">
                            <h4>GLORY D’SOUZA</h4>
                            <span>15 Days Ago</span>
                        </div>
                    </div>
                    <p>At vero eos et accusamus et iusto</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrapper">
                    <div class="content">
                        <img src="assets/images/ellipse-4.png" alt="">
                        <div class="text">
                            <h4>SHANAYA RAWAL</h4>
                            <span> 25 Minute Ago</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="overlay">
                        <img src="assets/images/order-img.png" alt="">
                    <div class="img-overtext">
                        <span><em class="fa fa-heart"></em></span>
                        <div class="ordr-btn">
                            <button class="btn btn-orange">Order Now</button>
                        </div>
                    </div>
                    </div>
                    
                </div>
                <div class="comment-wrapper">
                    <div class="content">
                        <img src="assets/images/ellipse-6.png" alt="">
                        <div class="text">
                            <h4>CRYSTAL D’SOUZA</h4>
                            <span>15 Days Ago</span>
                        </div>
                    </div>
                    <p>At vero eos et accusamus et iusto</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="single-order-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="content">
                        <img src="assets/images/john.png" alt="">
                        <div class="text">
                            <h4>JOHN GOMEZ</h4>
                            <span> 1 Month Ago</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="overlay">
                        <img src="assets/images/single-order-img.png" alt="">
                    <div class="img-overtext">
                        <span><em class="fa fa-heart"></em></span>
                        <div class="ordr-btn">
                            <button class="btn btn-orange">Order Now</button>
                        </div>
                    </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="recipes-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">TRENDING RECIPES</h3>
            </div>
            <div class="col-md-12 mb-3">
                <div class="main-wrapper">
                    <div class="row">
                        
                        <div class="col-md-3">
                            <div class="wrapper">
                                <img src="assets/images/recpie1.png" alt="">
                                <h4>Rosemary Gralic</h4>
                                <div class="star">
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star grey" aria-hidden="true"></em></span>
                                    <span class="rate">(95)</span>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wrapper">
                                <img src="assets/images/recpie2.png" alt="">
                                <h4>Helrloom Tomato Art</h4>
                                <div class="star">
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star grey" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star grey" aria-hidden="true"></em></span>
                                    <span class="rate">(55)</span>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wrapper">
                                <img src="assets/images/recpie3.png" alt="">
                                <h4>Mom's Sit Sandwich</h4>
                                <div class="star">
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span class="rate">(100)</span>
                                </div>
                               
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wrapper">
                                <img src="assets/images/recpie4.png" alt="">
                                <h4>Irish Cream Cake</h4>
                                <div class="star">
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star-half-o green" aria-hidden="true"></em></span>
                                    <span><em class="fa fa-star grey" aria-hidden="true"></em></span>
                                    <span class="rate">(85)</span>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                
            </div>
            <div class="col-md-6 mb-3">
                <div class="view-wrapper ">
                    <em class="fa fa-angle-down" aria-hidden="true"></em>
                    <a href="" >VIEW ALL</a>
                </div>
            </div>
            
        </div>
    </div>
</section>