<section class="trending-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/images/mark.png">
                        </div>
                        <div class="col-md-8">
                            <div class="content">
                                <div class="text">What do you want to share Today ?</div>
                                <div class="buttons">
                                    <button class="btn btn-outline mx-3">CREATE POST</button>
                                    <button class="btn btn-outline mx-3">ASK A QUESTION</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="images">
                                <img src="assets/images/mark.png">
                                <img src="assets/images/mark.png">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>