<div class="modal fade" id="myModal" role="dialog" style="display: block;">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <img src="assets/images/logo.png">
        </div>
        <div class="modal-body">
          <div class="container">
          	<div class="row">
          		<div class="col-md-12">
          			<div class="wrapper">
          				<div class="email">
          					<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
          				</div>
          			</div>
          		</div>
          	</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>