section.no-found-section {
  background: #fff;
  padding: 100px 0;
  text-align: center;
  margin: 0px 0 20px;
}
section.no-found-section p{
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  color: #4D4B4B;
}
