<section class="section-title">
  <div class="container-fluid">
    <h3>Chinese Food</h3>
  </div>
</section>
<section class="categories-section">
  <div class="container-fluid">
    <h5>Choose</h5>
    <div class="row">
      <div class="col-md-6">
        <app-category-card></app-category-card>
      </div>
      <div class="col-md-6">
        <app-category-card></app-category-card>
      </div>
      <div class="col-md-6">
        <app-category-card></app-category-card>
      </div>
      <div class="col-md-6">
        <app-category-card></app-category-card>
      </div>
      <div class="col-md-6">
        <app-category-card></app-category-card>
      </div>
    </div>
  </div>

</section>
<section class="border-bottom-section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap border-bottom">
        </div>
      </div>
    </div>
  </div>
</section>
