<section class="burger-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <img src="assets/images/burger-1.png" alt="">
      </div>
      <div class="col-md-7">
        <div class="wrapper">
          <h3>Bison Burgers</h3>
          <p>by FOOD Set GO</p>
          <p><span>$ 190.00</span></p>
          <button class="btn btn-orange add-btn">ADD</button>
          <h6>DESCRIPTION</h6>
          <p>Flavor-wise, bison is just about as close as you can get to beef. It's tender and even a bit sweet. But its nutritional profile makes it a much healthier option than a par-for-the-course ground beef burger.</p>
          <button class="btn btn-orange cart-btn">GO TO CART</button>
        </div>
      </div>
    </div>
  </div>

</section>
