.section-restaurants .wrapper .content {
    background-color: #E5E5E5;
    padding: 20px;
}
.section-restaurants .wrapper {
    margin-bottom: 30px;
}
.section-restaurants .wrapper img {
    width: 100%;
    border-bottom: 5px solid #fff;
}
.section-restaurants .wrapper .content h3 {
    color: #6D6B6B;
    font-weight: 700;
}
.section-restaurants .wrapper .content p {
    font-weight: 300;
}
.section-restaurants em.fa.fa-heart {
    color: #d92330;
}
.section-restaurants h3.title{
    padding: 25px 0;
    font-weight: 300;
}
.row.border-bottom{
    border-bottom: 1px solid #8C8989!important;
    padding-bottom: 30px;
}