<section class="section-restaurants pt-0 pb-5">
    <div class="container">
      <h3 class="mb-3 title">Recommended Restaurants For You</h3>
      <div class="row border-bottom">
        <div class="col-md-6 col-sm-6">
          <div class="wrapper">
            <img src="assets/images/restaurant-1.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>Chill Out</h3>
                  <p> 35C, Sector 35, Chandigarh, 160022, India</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="wrapper">
            <img src="assets/images/photo.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>Burger Shacks</h3>
                  <p> CH Devi Lal Centre of Learning, 28B, Sector</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="wrapper">
            <img src="assets/images/restaurant-2.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>90's Cafe</h3>
                  <p> Bethuadahari, West Bengal, India</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="wrapper">
            <img src="assets/images/restaurant-3.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>Chawlas 2</h3>
                  <p>  Chandigarh, India</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="wrapper">
            <img src="assets/images/restaurant-4.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>OvenFresh</h3>
                  <p> Sector 28, Chandigarh, 160028, India</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="wrapper">
            <img src="assets/images/photo.png">
            <div class="content">
              <div class="row">
                <div class="col-md-8">
                  <h3>Paradise</h3>
                  <p>  CH Devi Lal Centre of Learning, 28B, Sector</p>
                </div>
                <div class="col-md-4 text-right">
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>