<section class="banner">
  <img src="assets/images/capital.png" alt="">
  <div class="title-section">
    <div class="container-fluid">
      <h3>The CAPITAL GRILLE</h3>
    </div>
  </div>
</section>
<section class="description-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="wrapper">
          <p>CH Devi Lal Centre of Learning, 28B, Sector 28, Chandigarh, 160102, India.</p>
          <table class="table-responsive">
            <tbody>
            <tr>
              <th scope="row" >Email</th>
              <td scope="col" >paradise12@yopmail.com</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3 text-right-text">
        <div class="second-wrapper">
          <span class="span-heart"><em aria-hidden="true" class="fa fa-heart-o mr-2"></em></span>
          <span class="span-star"><em aria-hidden="true" class="fa fa-star mr-2"></em>5</span>
        </div>
        <p>4 Reviews</p>
        <div class="switch-wrapper">
          <div class="btns">
            <label class="switch">
              <input type="checkbox" id="togBtn">
              <div class="slider round">
                <!--ADDED HTML -->
                <span class="on">Veg Only</span>
                <span class="off">Non-Veg</span>
                <!--END-->
              </div>
            </label>
          </div>
          <button class="btn btn-orange book">Book Dining</button>

        </div>
      </div>
      <div class="col-md-12">
        <table class="table-responsive table-custom">
          <tbody>
          <tr>
            <th scope="row" >Super Donuts</th>
            <td scope="col" >Donut</td>
            <td scope="col" colspan="3">Chocolate Frosted Doughnut</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="categories-section">
  <div class="container-fluid">
    <h5 class="title">Burger</h5>
    <div class="row">
      <div class="col-md-6">
        <app-view-all-card></app-view-all-card>
      </div>
      <div class="col-md-6">
        <app-view-all-card></app-view-all-card>
      </div>
      <div class="col-md-6">
        <app-view-all-card></app-view-all-card>
      </div>
    </div>
  </div>

</section>
<section class="categories-section">
  <div class="container-fluid">
    <h5 class="title">Donut</h5>
    <div class="row">
      <div class="col-md-6">
        <app-view-all-card></app-view-all-card>
      </div>
      <div class="col-md-6">
        <app-view-all-card></app-view-all-card>
      </div>
      <div class="col-md-6">
        <app-view-all-card></app-view-all-card>
      </div>
    </div>
  </div>

</section>

<section class="border-bottom-section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap border-bottom">
        </div>
      </div>
    </div>
  </div>
</section>
