<div class="wrapper bg-white p-3 mb-4">
  <div class="row">
    <div class="col-md-3 col-sm-3 mb-2">
      <img src="assets/images/all.png" alt="">
    </div>
    <div class="col-md-9 col-sm-9">
      <h3>Crispy Chicken Fiery Wrap</h3>
      <p class="mb-4">Crispy Chicken Fiery Wrap
      </p>
      <p><span>$200.00</span></p>
      <div class="star-wrapper">
        <span class="span-star"><em aria-hidden="true" class="fa fa-star mr-2"></em>5</span>
        <span class="span-heart pl-4"><em aria-hidden="true" class="fa fa-heart-o mr-2"></em></span>
        <button class="btn btn-orange">Add</button>
      </div>
    </div>
  </div>
</div>
