<div class="wrapper {{type==='special-offer'?'wrapper-special':''}}">
    <img src="assets/images/offer-1.png" alt="">
    <div class="content">
      <div class="row">
        <div class="col-md-8">
          <h3>Cruller</h3>
          <h6>FOOD Set Go</h6>
          <p>French crullers made with pâte à choux, which are lighter than.</p>
        </div>
        <div class="col-md-4 text-right">
          <span><em class="fa fa-heart" aria-hidden="true"></em></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p class="price">$10.00 <span>$9.00</span></p>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-orange">Add</button>
        </div>
      </div>
    </div>
  </div>
