.profile-div {
  display: flex;
  align-items: center;
  margin: 10px 0 20px;
}
.wrapper {
  background: #fff;
  border-radius: 29px;
}
.nav-box {
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 0 0px 29px 29px;
}
.wrapper div#v-pills-tab {
  padding: 30px;
}
.wrapper div#v-pills-tab h3 {
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
}
.profile-div .text {
  padding-left: 20px;
}
.profile-div .text h5 {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6D6B6B;
  margin-bottom: 0;
}
.profile-div .text a {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #B1B1B1;
}
.wrapper div#v-pills-tab .nav-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #6D6B6B;
  background: none;
  padding: .5rem 0;
}
.wrapper div#v-pills-tab .nav-link:hover{
  color: #d92330 !important;
}
.wrapper .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #d92330 !important;

}
.wrapper-section {
  padding: 30px;
}
.wrapper-second h3.title {
  font-weight: normal !important;
  font-size: 21px !important;
  line-height: 25px !important;
  color: #000 !important;
}
.upload-img {
  text-align: center;
  margin: 25px 0;
}
.upload-img img {
  margin-bottom: 10px;
}
.upload-img a {
  color: #d92330;
  display: block;
}
form.form {
  width: 600px;
  margin: auto;
  max-width: 100%;
}
input.form-control {
  border: 1px solid #CAC8C8;
  background: #f5f3f3;
  height: 40px;
  margin: 10px 0;
}
.border.border-box {
  text-align: center;
  padding: 60px 0;
  margin: 20px 0;
  border: 1px solid #CAC8C8 !important;
}
.border.border-box p {
  font-weight: normal ;
  font-size: 25px ;
  line-height: 29px;
  color: #B1B1B1;
  margin-bottom: 0;
}
button.btn.address-btn{
  width: 286px ;
}
.wrapper-second .nav-pills .nav-link.active {
  background: none !important;
  color: #2F81FB;

}
.wrapper-second .nav-pills .nav-link{
  color: #8C8989;
  font-size: 18px;
  line-height: 21px;
}
.wrapper-second ul#pills-tab {
  list-style: none;
  border-top: 1px solid #d2d0d0;
  border-bottom: 1px solid #D2D0D0;
  margin: 20px 0;
}
.wrapper-second .tab-content h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #6D6B6B;
}
.wrapper-second .tab-content h3 ~ p{
  font-weight: 300 ;
  font-size: 15px ;
  line-height: 18px;
  color: #8C8989;
}
.ref-buttons {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.ref-code {
  border: 2px dashed #d92330;
  border-radius: 29px;
  padding: 2px 10px;
  height: 45px;
  line-height: 2.4;
  background: #E5E5E5;
  color: #8C8989;
}
.card {
  border-radius: 50px;
  border: 1px solid #CAC8C8;
  background: #fff;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 30px;
}
.card .card-content h3 {
  font-weight: normal;
  font-size: 18px !important;
  line-height: 28px !important;
  margin-top: 10px
}
.card .card-content h3 ~ span {
  color: #6D6B6B;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  display: block;
}
.card .card-content h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}
.card .card-content h4 ~ span{
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: #000;
}
.card .card-content button{
  margin-top: 20px;
}
.card .card-content p{
  margin-top: 10px;
}
.card .card-content em {
  color: #d92330;
  margin-right: 10px;
}
.upload-img p{
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #6D6B6B;
}
.program-wrapper {
  background: #fff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}
.program-wrapper h4{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #6D6B6B;
}
.program-wrapper p.sub-para{
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #B1B1B1;
}
.points-wrap {
  padding: 20px 0;
}
.points-wrap h4 {
  font-weight: normal;
  font-size: 36px;
  line-height: 130.19%;
  color: #4D4B4B;
}
.points-wrap p{
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #8C8989;
}
h3.sub-head{
  font-size: 24px !important;
  line-height: 130.19% !important;
  color: #4D4B4B !important;
  margin: 20px 0;
}
.program-wrapper h6 {
  font-weight: normal;
  font-size: 24px;
  line-height: 130.19%;
  text-align: center;
  color: #6D6B6B;
  margin-top: 20px;
}
h6 ~ p span {
  font-weight: normal;
  font-size: 18px;
  line-height: 130.19%;
  text-align: center;
  color: #6D6B6B;
}
.feedback-wrapper {
  background: #E5E5E5;
  border-radius: 29px;
  padding: 30px;
}
.feedback-wrapper form.form{
  width: 100%;
}
.feedback-wrapper input.form-control {
  background: #fff;
  border: 0;
}
label {
  display: block;
  line-height: 25px;
  color: #4D4B4B;
}
::placeholder{
  color: #D2D0D0;;
}
textarea {

  border-radius: 0;
  border: 0;
}
.booking-wrapper {
  background: #fff;
  padding: 30px 30px 100px;
  border-radius: 29px;
}
.booking-wrapper button.btn {
  width: 135px;
  height: 42px;
  margin-right: 10px;
  font-size: 12px;
  margin-bottom: 10px;
}
.btn-cols{
  margin: 20px 0 100px;
}
button.btn.order {
  margin: 30px 0;
  margin-right: 20px;
}
button.btn.order-1 {
  color: #000;
}
.wallet-wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 29px 29px 0 0;
}
.ballance {
  display: flex;
  align-items: center;
}
.ballance p{
  font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #6D6B6B;
}
.ballance button.btn {
  margin-left: auto;
}
button.btn.btn-grey {
  background: #F5F5F5;
  color: #6D6B6B;
  width: 228px;
}
.history-wrapper {
  background: #E5E5E5;
  border-radius: 0px 0px 29px 29px;
  padding: 20px 30px;
  font-size: 21px;
    line-height: 25px;
    color: #4D4B4B;
    text-transform: uppercase;
}
.b-text span{
  font-weight: normal;
font-size: 21px;
line-height: 25px;
color: #000000;
}
.ref-buttons button.btn{
  margin-left: 50px;
}
.ballance button.btn{
  margin-right: 10px;
}
@media screen and (max-width:576px){
  .ballance{
    display: block;
  }
  .b-text{
    margin-bottom: 10px;
  }
  .ballance button.btn{
    margin-bottom: 10px;
  }
  .wrapper div#v-pills-tab{
    padding: 0 0;
    position: relative;
    width: 1700px;
  }
  .wrapper div#v-pills-tab.flex-column{
    flex-direction: row !important;
  }
  .nav-horizontal-mobile{
    overflow-x: scroll;
    padding: 0;
}
.wrapper{
  background: none;
  border-radius: 0;
}
.wrapper div#v-pills-tab .nav-link{
  font-size: 16px;
  margin-right: 10px;
    background: #fff;
    border-radius: 10px;
    padding: 9px 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px -5px rgb(0 0 0 / 50%);
    text-align: center;
    display: block;
}
.wrapper div#v-pills-tab h3, .profile-div, .nav-box{
  display: none;
}
}
@media screen and (max-width:488px){
  .ref-buttons{
    display: block;
  }  
  .ref-code{
    text-align: center;
    margin-bottom: 20px;
  }
  .ref-buttons button.btn{
    margin-left: 0px;
    width: 100%;
  }
  /* .profile-div{
    display: block;
  } */
  .profile-div .text{
    padding-left: 0;
    padding-top: 20px;
  }
}