<div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="login-logo text-center pb-5">
            <img src="assets/images/logo-1.png">
          </div>
          <div class="login-btn ">
            <div class="email-btn social"><button class="btn btn-black facebook"><img src="assets/images/facebook.png" class="mr-2">FACEBOOK</button><button class="btn btn-black google"><img src="assets/images/google.png" class="mr-2">GOOGLE</button></div>
            
          </div>
          <form class="login-form form">
            <div class="row">
              <div class="col-md-12">
                <div class="container-text">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
                
              </div>
              <div class="col-md-12">
                <div class="container-text">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                    <i class="fa fa-eye"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-right my-2">
                <a class="forget-psw" href="">Forgot Password?</a>
              </div>
              <div class="col-md-12">
                <button type="button" class="btn btn-orange login">CONTINUE</button>
              </div>
              <div class="col-md-12 text-center p-text">
                <p>Already have an account? <a href="">Login</a></p>
                <a href="" style="font-weight: 400;">Register As Restaurant</a>
              </div>
            </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        
  
      </div>
    </div>
  </div>