/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f3f3;
}
h3{
  font-size: 24px;
}
a {
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}
.section-class {
    margin: 0 50px;
}
/*.select2-container{
    width: 100% !important;
}*/
span.select2 {
    width: 100% !important;
    max-width: 100%;
}
span.select2-selection.select2-selection--single{
    border: 0 !important;
}
.form-control{
  box-shadow: none !important;
  outline: none !important;
}
input:focus{
  outline: none !important;
  box-shadow: none !important;
}
*:focus{
  outline: none;
}
a:focus{
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
button.btn {
    color: #fff;
    text-transform: uppercase;
    border-radius: 28px;
    text-align: center;
    width: 150px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    max-width: 100%;
}
.btn-black {
    background: #28263E;
}
.btn-orange {
    background: #D92330;
}
.btn-outline {
  border: 2px solid #D92330;
  color: #d92330 !important;
  background: #fff;
}
button.btn:hover {
    color: #fff;
}
section {
    padding: 20px 0;
}
::placeholder{
  color: #8C8989;
}

img {
  object-fit: cover;
  max-width: 100%;
}

:root {
  --btn-black: #28263E;
  --btn-orange: #D92330;
  
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #8C8989 !important;
}
button:focus{
  outline: none !important;
}
.modal-dialog{
  width: 420px;
  max-width: 100%;

}
.modal-header{
  border-bottom: 0;
}
.modal-content{
  height: 800px;
}
.modal-body{
  width: 350px;
  margin: auto;
  max-width: 100%;
  padding-top: 0;
}
button.close{
  background: #d82430;
  opacity: 1;
  color: #fff;
  margin: 1px 1px 1px auto !important;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: normal;
}
.login-btn{
  text-align: center;
}
.login-btn .email-btn {
  border-radius: 18px;
  display: flex;
  align-items: center;
  height: 43px;
  width: 328px;
  margin: auto;
  max-width: 100%;
}
.login-btn .email-btn button.btn {
  border-radius: 0;
  background: none;
  text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    width: 50%;
    height: 43px;
}
.login-btn .email-btn button.btn.email{
  text-align: left;
  border-right: 1px solid #48456F;
  
  
}
.login-btn .email-btn button.btn.phone{
  text-align:right;
}
.email-btn i.fa {
  font-size: 12px;
}
.fa-eye{
  position: absolute;
    right: 25px;
    top: 5px;
    padding: 6px 8px;
    color: black !important;
    transition: .3s;
}
form.login-form.form {
  margin-top: 30px;
}
input.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #8c8989;
}
a.forget-psw {
  color: #D92330;
  font-size: 18px;
}
::placeholder{
  color: #6D6B6B;
}
button.btn.login{
  width: 100%;
  border-radius: 18px;
  font-size: 18px;
  margin: 10px 0 60px;
  height: 43px;
}
.social{
  border: 2px solid #8C8989;
}
.social button.btn{
      color: #000;
      font-size: 15px !important;
  font-weight: 700 !important;
}
button.btn.btn-black.facebook {
  border-right: 1px solid #8C8989;
}
.p-text p{
  color: #8C8989;
  margin: 20px 0;
  font-size: 15px;
  font-weight: normal;
}
.p-text a{
  color: #d92330;
}
@media screen and (max-width:400px) {
  .login-btn .email-btn button.btn{
    font-size: 14px !important;
  }
}